@model LibraryMgmtApp.ViewModels.IndexProductViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Products.</h2>

<h1>@Model.Product.Name</h1>

@if (Model.Customers.Count == 0)
{
    <text>No one has rented this @Model.Product.Category before.</text>
}
else
{
<ul>
    @foreach (var cust in Model.Customers)
    {
        <li>@cust.Name</li>
    }
</ul>
}

