@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<div class="row">
    <div class="col-sm-4">
        <h3>@ViewBag.Message</h3>
        <address>
            x-37 Balmoral St<br />
            Winnipeg, MB R3C 1X3<br />
            <abbr title="Phone">P:</abbr>
            204.451.2585
        </address>
        <address>
            <strong>Email:</strong>
            <a href="mailto:danlb48986@gmail.com">danlb48986@gmail.com</a>
        </address>
    </div>
    <div class="col-sm-8">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2570.8776132242615!2d-97.15506388428912!3d49.88232487940101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52ea73f8c47dec35%3A0x2d003f42f40de42c!2s37+Balmoral+St%2C+Winnipeg%2C+MB+R3C+1X3!5e0!3m2!1sen!2sca!4v1526629332171" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>